body {
  margin: 0;
  padding: 0;
  background: var(--Neutral-10);
  height: 100vh;
  overflow: hidden;
}

.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--Neutral-10);

  &.position-bottom-right .floating-widget-container {
    position: static;
    width: 360px;
    height: 600px;
  }

  .chat-modal {
    position: static !important;
    margin: 0 !important;
    width: 100% !important;
    height: 100% !important;
    border-radius: 12px;
    overflow: hidden;
  }

  .stream {
    display: none;
  }
}

// Theme variables
:root {
  --Neutral-00: #000;
  --Neutral-5: #181a1b;
  --Neutral-10: #1c1f21;
  --Neutral-15: #232729;
  --Neutral-20: #2a2f31;
  --Neutral-30: #404547;
  --Neutral-50: #707577;
  --Neutral-60: #888d8f;
  --Neutral-80: #c3c6c7;
  --Neutral-90: #e1e2e3;

  --Blue-500: #1f94ff;
  --Blue-800: #0f3557;

  --Red-500: #ff4444;
  --Red-600: #e03c00;
}
